/* Navegacion*/
.topNav {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.topHeader {

    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    padding: 10px;
    align-items: left;
    box-shadow: 0 3px 5px #124559;

}

.logo img {
    align-items: center;
    width: 60px;
    height: 45px;
    border-radius: 50%;
    right: 0;

}

.menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;

}

.menu li {
    padding: 0px 15px 0;
}

.menu a {
    color: #28464B;
    font-size: 20px;
    font-weight: 400%;
    line-height: 50px;
    text-transform: uppercase;
    
    position: relative;

}

.menu a::after {
    content: "";
    background-color: #28464B;
    position: absolute;
    left: 0;
    top: calc(100% + 3px);
    width: 100%;
    height: 3px;


    opacity: 0;
    transition: opacity 0.2s;
}

.menu a:hover::after {
    opacity: 0.8;
}

body {
    margin-top: 70px;
    font-family: 'Josefin Sans', sans-serif;
}

body h2{
font-size: 50px;
color: #01161E;
}


   
/*Perfil*/
.inicio {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    max-width: 980px;
    margin: 100px auto 0 auto;
    border-radius: 5px;
    box-shadow: 3px 1px 5px #124559;

}

.titulo h1 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
    padding-left: 15px;
    color: #124559;
}

.titulo p {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 22px;
    padding-left: 20px;
    line-height: 2;
    color: #124559;
}

.foto img {
    border-radius: 50%;
    max-width: 250px;
    padding: 30px
}

/*Formacion*/

.formacionTitulo {
    width: 980px;
    margin: 100px auto 50px auto;
    text-align: center;
}

.contenedor {
    width: 980px;

    background-color: white;
    margin: 0 auto;
}

.contenedor .tabs {

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

}

.contenedor .opcion {
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 3px 1px 5px #124559;
    padding: 1em;
    margin: 0 2em 0 0;
    list-style: none;
    color: aliceblue;
    font-family: sans-serif;
    font-weight: 500;
    background-color: #01161E;

}

.contenedor .opcion.activo {
    background-color: white;
    color: #124559;
    font-weight: bold;
}

.contenedor .subcontenedor {
    border-radius: 5px;
    box-shadow: 3px 1px 5px #124559;
    position: relative;
    background-color: white;
    min-height: 15vh;
    margin-top: 30px;
    font-weight: 500%;
    line-height: 1.4;

}

.contenedor .bloque {
    position: absolute;
    top: 0;
    margin: 1em;
    padding: 1em;
    opacity: 0;
}

.contenedor .bloque.activo {
    opacity: 1;
}

/*Experience*/


.experiencia {
    width: 980px;
    margin: 100px auto 100px auto;
    text-align: center;
}
.empresas{
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;

}
.empresas .rr{
    box-shadow: 3px 10px 8px #785964;
    padding: 10px 15px;
    border-radius: 5px;
}
.empresas .cs{
    box-shadow: 3px 10px 8px #454545;
    padding: 10px 15px;
    border-radius: 5px;
}
.experienciaContenido{
    width: 980px;
    margin: 50px auto 100px auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: 3px 10px 8px #454545;
    display: flex;
}

.primerExperiencia {
    display: flex;
    align-items: center;
    float: left;
    padding-bottom: 0;
    margin-bottom: 20px;
}

.primerExperiencia h3{
    text-align: left;
}

.primerExperienciaTexto {
    text-align: right;
    width: 50%;
    float: right;
    padding: 0 20px 0 100px ;
    margin: 0 0 0 200px;
}
.experienciaContenido.radiactivo{
    box-shadow: 3px 10px 8px #785964
}



/* CONTACTO */


.contacto{
    text-align: center;
}
.datos {
    background: rgba(1, 1, 10, 0.648);
    padding: 20px 0 10px;
    margin: 100px 0 0px 0;
    text-align: center;
    color: aliceblue;

}

.fa-brands fa-square-whatsapp.wpp{
font-size: 40px;
}

